@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_DontBlowUp.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1>Don't Blow Up</h1>

        <p>User: "Alexa, play Don't Blow Up"</p>

        <p>Alexa: "Welcome to Don't Blow Up. Do you want to start a new game?"</p>

        <p>User: "Yes"</p>

        @using (Html.BeginForm("NewGame", "DontBlowUp"))
        {
            <button type="submit">New Game</button>
        }
    </div>
</div>